  <div class="lpe-controls">
    <!-- <button class="lp-editor__drag">{{ 'Drag'|t }}</button> -->
    <button class="lpe-up"><span>{{ 'Move Up'|t }}</span></button>
    <button class="lpe-down"><span>{{ 'Move Down'|t }}</span></button>
    <button class="lpe-edit"><span>{{ 'Edit'|t }}</span></button>
    <button class="lpe-delete"><span>{{ 'Delete'|t }}</span></button>
  </div>
