<div class="lpe-banner__wrapper">
  <div class="lpe-banner l--constrained">
    <div class="lpe-banner__title">
    {{ title }}
    </div>
    <div class="lpe-banner__actions">
      <div class="lpe-banner__status"></div>
      <a class="lpe-cancel-button button--danger" href="{{cancel_url}}" >{{'Cancel'|t}}</a>
      <a class="lpe-save-button button" href="{{save_url}}">{{'Save'|t}}</a>
    </div>
  </div>
</div>